<form method="POST" action="/chats">
    <input type="text" name="from" placeholder="Sender Name" required>
    <textarea name="msg" placeholder="Write Msg Here" required></textarea>
    <input type="text" name="to" placeholder="Receiver" required>
    <button>Create Chat</button>
</form>
